/* src/Dropdown.css */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  background-color: #00BFFF;
  color: #333;
  border: none;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropdown-ul {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #00BFFF;
  list-style-type: none;
  padding: 5px;
  margin: 0;
}

.dropdown-li {
  padding: 5px;
  cursor: pointer;
}

.dropdown-li:hover {
  background-color: #e6e6e6;
}
